body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#contact-banner {
    width: 100%;
    background: url('/Images/356287_clasic\ big\ company\ _xl-1024-v1-0.png') no-repeat center center/cover;
    position: relative;
    height: 400px;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
}

#contact-banner .banner-text {
    margin-top: 13%;
    font-size: 42px;
    padding: 20px;
    border-radius: 10px;
}

#contact-form {
    width: 80%;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
